<div class="p-fluid">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div class="p-field">
        <label for="lastname">Apellido</label>
        <input id="lastname" type="text" pInputText formControlName="lastname" />
        <div *ngIf="userForm.controls['lastname'].invalid && userForm.controls['lastname'].touched" class="error">
          El Apellido es requerido
        </div>
      </div>
  
      <div class="p-field">
        <label for="email">Correo electrónico</label>
        <input id="email" type="email" pInputText formControlName="email" />
        <div *ngIf="userForm.controls['email'].invalid && userForm.controls['email'].touched" class="error">
          Correo no válido
        </div>
      </div>

  
      <button pButton type="submit" label="Comprobar" [disabled]="userForm.invalid"></button>
    </form>
  </div>
  

