USE [products]
GO
/****** Object:  Table [dbo].[products]    Script Date: 7/12/2024 7:59:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[prname] [nvarchar](50) NULL,
	[prdescription] [nvarchar](200) NULL,
	[prprice] [numeric](18, 0) NULL,
	[prstock] [numeric](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[products] ON 

INSERT [dbo].[products] ([id], [prname], [prdescription], [prprice], [prstock]) VALUES (33, N'papa amarilla', N'antes era zanahoria', CAST(10000 AS Numeric(18, 0)), CAST(26 AS Numeric(18, 0)))
INSERT [dbo].[products] ([id], [prname], [prdescription], [prprice], [prstock]) VALUES (34, N'zanahoria', N'verdura', CAST(200 AS Numeric(18, 0)), CAST(500 AS Numeric(18, 0)))
INSERT [dbo].[products] ([id], [prname], [prdescription], [prprice], [prstock]) VALUES (36, N'asd', N'asd', CAST(2 AS Numeric(18, 0)), CAST(2 AS Numeric(18, 0)))
SET IDENTITY_INSERT [dbo].[products] OFF
GO
