USE [formDB]
GO
/****** Object:  Table [dbo].[registro]    Script Date: 15/11/2024 9:49:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[registro](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NULL,
	[apellido] [nvarchar](50) NULL,
	[correo] [nvarchar](50) NULL,
	[telefono] [numeric](18, 0) NULL,
	[nomger] [nvarchar](50) NULL,
	[correoger] [nvarchar](50) NULL,
	[fechini] [nvarchar](20) NULL,
	[fechfin] [nvarchar](20) NULL,
	[notas] [ntext] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[registro] ON 

INSERT [dbo].[registro] ([id], [nombre], [apellido], [correo], [telefono], [nomger], [correoger], [fechini], [fechfin], [notas]) VALUES (1, N'sebas', N'muñoz', N'sebas_mr@gmail.com', CAST(312 AS Numeric(18, 0)), N'carlos', N'carlos@gmail.com', N'01/11/2024', N'30/11/2024', N'hola')
SET IDENTITY_INSERT [dbo].[registro] OFF
GO
