<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>my angular app</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nerko+One&display=swap" rel="stylesheet">
</head>
<body>
  <h2>Este es un título H2</h2>


<p class="primero">Este es el primer párrafo con Arial .</p>
<p class="segundo">Este es el segundo párrafo con Nerko One.</p>


<ul>
  <li><a href="https://www.google.com.co">Enlace 1</a></li>
  <li><a href="https://youtube.com">Enlace 2</a></li>
  <li><a href="https://twitch.tv">Enlace 3</a></li>
</ul>


<table>
  <tr>
    <th>Producto</th>
    <th>Existencias</th>
    <th>Valor</th>
  </tr>
  <tr class="primera">
    <td>Iphone 10</td>
    <td>2</td>
    <td>$2.000.000</td>
  </tr>
  <tr class="segunda">
    <td>Mouse</td>
    <td>100</td>
    <td>$50.000</td>
  </tr>
  <tr class="tercera">
    <td>PC Gamer</td>
    <td>2</td>
    <td>$3.000.000</td>
  </tr>
</table> <br> <br>
<div class="contenedor">
  <!-- Header -->
  <div class="header">
      <div class="logo">Logo</div>
        header
      <div class="buscador">Buscador</div>
  </div>
  <p class="contenedor-text">contenedor</p>
  <!-- Contenedor principal -->
  <div class="main">
      <!-- Sidebar -->
      <div class="sidebar">Side-bar</div>
      <!-- Content -->
      <div class="content">content</div>
  </div>

  <!-- Footer -->
  <div class="footer">
      <div class="div-texto">Footer</div>
      <div class="sub-footer">
        <div class="footer-box">Footer-1</div>
        <div class="footer-box">Footer-2</div>
        <div class="footer-box">Footer-3</div>  
      </div>
  </div>
</div>
</body>
</html>