<div class="p-fluid flex justify-content-center align-items-center h-full mt-7">

    <p-card header="Acciones" [style]="{width:'360px'}">
        <div class="p-fluid">
            <div class="mt-7">
                <p-button type="button" label="Iniciar sesion" (onClick)="irPagina('/login')" ></p-button>
            
            </div>
            <div class="mt-7">
                <p-button type="button" label="Registrarse" (onClick)="irPagina('/register')" ></p-button>
            
            </div>
        </div>
    </p-card>
</div>